body {
    font-family: Arial, sans-serif;
}


/* Responsive design */

@media (max-width: 768px) {
    /* Styles for tablets and smartphones */
}

header,
footer {
    background-color: #e9d2d2;
    padding: 10px 0;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin: 0 10px;
}

#navbar a {
    text-decoration: none;
    color: #333;
}


/* Accordion styles */

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#faq {
    margin: 20px;
    padding: 10px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    font-weight: bold;
}

.faq-answer {
    padding-left: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

footer div {
    margin-bottom: 15px;
}

footer h3 {
    color: #333;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #0077cc;
}

footer a:hover {
    text-decoration: underline;
}